APP_ENV=local
APP_DEBUG=true
APP_NAME=SIVECOM API
APP_VERSION=0.1.0

DATABASE_URL=postgresql://sivecom:sivecom@localhost:5432/sivecom
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://192.168.0.123:5173
CORS_ORIGIN_REGEX=^http://(localhost|127\.0\.0\.1|192\.168\.[0-9]+\.[0-9]+):5173$

UPLOAD_DIR=storage/uploads
METADATA_DIR=storage/metadata
TEXT_EXTRACTION_DIR=storage/text_extractions
SEGMENTATION_DIR=storage/segmentations
DATA_EXTRACTION_DIR=storage/data_extractions
VALIDATION_DIR=storage/validations
MAX_UPLOAD_MB=50
OCR_LANGUAGE=es
OCR_DPI=200
PADDLE_OCR_BASE_DIR=storage/paddleocr_models
PADDLE_USE_GPU=false
PADDLE_USE_TEXTLINE_ORIENTATION=false
DISABLE_MODEL_SOURCE_CHECK=True
