APP_ENV=local
APP_DEBUG=true
SECRET_KEY=change_me

DATABASE_URL=postgresql://sivecom:sivecom@localhost:5432/sivecom
REDIS_URL=redis://localhost:6379/0

UPLOAD_DIR=storage/uploads
PAGE_IMAGE_DIR=storage/pages
REPORT_DIR=storage/reports

MAX_UPLOAD_MB=50
OCR_LANGUAGE=es
OCR_MIN_TEXT_LENGTH=80
PADDLE_OCR_BASE_DIR=storage/paddleocr_models
PADDLE_USE_GPU=false
PADDLE_USE_TEXTLINE_ORIENTATION=true
DISABLE_MODEL_SOURCE_CHECK=true

JWT_EXPIRE_MINUTES=120
